* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}

table {
  width: 80%;
  margin: 0 auto 40px auto;
  border-collapse: collapse;
}